#form {
    width: 500px;
    height: auto;
    border: 1px solid gray;
    margin-left:80px;
    padding: 10px;
    margin-top: 8em;
    box-shadow: 2px 2px 25px gray;
}

#btn {
    margin-top: 10px;
}
ul{

 margin-top: 2em;   

}
html{
   
   
}